<div class="container">
  <hr>
  <div class="contacts">
  <div class="map col-md-8">

  </div>

  <div class="contact col-md-4">
    <h2>Contact us</h2>

    <div class="tel">
      <p>093 172 24 01</p>
      <p>097 019 56 73</p>
    </div>

    <div>
      <p><i class="material-icons">email</i> board_game@gmail.com</p>
    </div>

    <div>
      <h5>Our address</h5>
      <p>Dnepr, str. Rabochaya, 14</p>
      <p>(entrance from the yard)</p>
    </div>

    <div>
      <h5>Schedule of our shop</h5>
      <p>Monday - Thursday: 10:00 - 21:00</p>
      <p>Friday - Sunday: 10:00 - 22:00</p>
    </div>

    <div>
      <h5>Phones</h5>
      <p>+38 (093) 172 24 01 - Life </p>
      <p>+38 (097) 019 56 73 - Kyivstar</p>
    </div>
  </div>
</div>
</div>